<h4>About me</h4>
<p>
  2017年から個人事業でWebサービス開発、開発チームビルディング、アーキテクチャ設計、DevOps導入などを請け負っています。
</p>
<p>
  開発案件かと思ったら、実際はWebデザインの比率のほうが多い発注が増えているので、デザイナーの方どなたかコンビ組んでください。
</p>
<p>
  お仕事のご連絡は<a href="/">TOP</a>のどれかのアカウントか、 <a href="mailto:&#99;&#111;&#110;&#116;&#97;&#99;&#116;&#64;&#104;&#105;&#104;&#97;&#116;&#115;&#46;&#112;&#114;&#111;">&#99;&#111;&#110;&#116;&#97;&#99;&#116;&#64;&#104;&#105;&#104;&#97;&#116;&#115;&#46;&#112;&#114;&#111;</a> まで。
</p>
